@model Scholarship_Application.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit";
}



<h4>Student Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data" asp-cv="@Model.Resume">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NationalID"></label>
                <input asp-for="NationalID" class="form-control" />
                <span asp-validation-for="NationalID" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="University"></label>
                <input asp-for="University" class="form-control" />
                <span asp-validation-for="University" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Major"></label>
                <input asp-for="Major" class="form-control" />
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GPA"></label>
                <input asp-for="GPA" class="form-control" />
                <span asp-validation-for="GPA" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Your CV ::</label>
                <a asp-action="Download"
                   asp-route-filename="@Model.Resume"
                   asp-route-name="@Model.FirstName @Model.LastName">

                    Review @Model.FirstName @Model.LastName CV

                </a>
            </div>





            <div class="form-group">
                <label for="name">Edit Your Cv</label>
                <input type="file" name="file" class="form-control" />
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
